aside {
    --cols-gap: var(--gap-sm);
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 100;
    /* background: var(--active); */
    min-width: 35em;
}

aside::after {
    content: '';
    position: fixed;
    z-index: -1;
    inset: inherit;
    width: 1000rem;
    height: 1000rem;
    /* transition: backdrop-filter 450ms; */
    /* backdrop-filter: blur(0.25rem); */
    /* -webkit-backdrop-filter: blur(0.25rem); */
    background: var(--backdrop);
}

aside :is(header, footer) {
    padding: var(--padding);
    /* background: var(--surface); */
    /* position: sticky; */
}

aside form {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    min-width: inherit;
    background: var(--active);
}

aside form label small {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
}

aside article {
    padding: var(--gap-lg);
    flex: 1;
}

aside header #close {
    font-size: small;
    flex: none;
}

aside header #close:hover {
    color: var(--error);
}

aside.left {
    right: auto;
}

aside.right {
    left: auto;
}

aside.top {
    bottom: auto;
    max-inline-size: fit-content;
}

aside.bottom {
    top: auto;
}

@media screen and (max-width: 600px) {
    aside {
        min-inline-size: 100%;
        max-inline-size: 100%;
    }
}