.icon {
    box-sizing: border-box;
    display: inline-block;
    font-size: inherit;
    font-style: normal;
    height: 1em;
    position: relative;
    width: 1em;
    flex: 0 0 auto;
    line-height: initial;
    vertical-align: middle;
}

.icon-svg {
    -webkit-mask-size: 100% 100%;
    -webkit-mask-clip: border-box;
    mask-size: 100% 100%;
    mask-clip: border-box;
    mask-repeat: no-repeat;
    mask-position: center;
    background: currentColor;
}

.icon.icon-125x {
    font-size: 1.25em;
}

.icon.icon-15x {
    font-size: 1.5em;
}

.icon.icon-2x {
    font-size: 2em;
}

.icon.icon-3x {
    font-size: 3em;
}

.icon.icon-4x {
    font-size: 4em;
}

.icon-gh {
    mask-image: url(../svg/gh.svg);
    -webkit-mask-image: url(../svg/gh.svg);
}

.icon-database {
    mask-image: url(../svg/feather/database.svg);
    -webkit-mask-image: url(../svg/feather/database.svg);
}

.icon-hard-drive {
    mask-image: url(../svg/feather/hard-drive.svg);
    -webkit-mask-image: url(../svg/feather/hard-drive.svg);
}

.icon-users {
    mask-image: url(../svg/feather/users.svg);
    -webkit-mask-image: url(../svg/feather/users.svg);
}

.icon-settings {
    mask-image: url(../svg/feather/settings.svg);
    -webkit-mask-image: url(../svg/feather/settings.svg);
}

.icon-power {
    mask-image: url(../svg/feather/power.svg);
    -webkit-mask-image: url(../svg/feather/power.svg);
}

.icon-x {
    mask-image: url(../svg/feather/x.svg);
    -webkit-mask-image: url(../svg/feather/x.svg);
}

.icon-plus {
    mask-image: url(../svg/feather/plus.svg);
    -webkit-mask-image: url(../svg/feather/plus.svg);
}

.icon-file-plus {
    mask-image: url(../svg/feather/file-plus.svg);
    -webkit-mask-image: url(../svg/feather/file-plus.svg);
}

.icon-plus-square {
    mask-image: url(../svg/feather/plus-square.svg);
    -webkit-mask-image: url(../svg/feather/plus-square.svg);
}

.icon-folder-plus {
    mask-image: url(../svg/feather/folder-plus.svg);
    -webkit-mask-image: url(../svg/feather/folder-plus.svg);
}

.icon-trash {
    mask-image: url(../svg/feather/trash.svg);
    -webkit-mask-image: url(../svg/feather/trash.svg);
}

.icon-edit {
    mask-image: url(../svg/feather/edit.svg);
    -webkit-mask-image: url(../svg/feather/edit.svg);
}

.icon-alert-triangle {
    mask-image: url(../svg/feather/alert-triangle.svg);
    -webkit-mask-image: url(../svg/feather/alert-triangle.svg);
}

.icon-key {
    mask-image: url(../svg/feather/key.svg);
    -webkit-mask-image: url(../svg/feather/key.svg);
}

.icon-lock {
    mask-image: url(../svg/feather/lock.svg);
    -webkit-mask-image: url(../svg/feather/lock.svg);
}

.icon-unlock {
    mask-image: url(../svg/feather/unlock.svg);
    -webkit-mask-image: url(../svg/feather/unlock.svg);
}

.icon-move {
    mask-image: url(../svg/feather/move.svg);
    -webkit-mask-image: url(../svg/feather/move.svg);
}

.icon-save {
    mask-image: url(../svg/feather/save.svg);
    -webkit-mask-image: url(../svg/feather/save.svg);
}

.icon-code {
    mask-image: url(../svg/feather/code.svg);
    -webkit-mask-image: url(../svg/feather/code.svg);
}

.icon-text {
    mask-image: url(../svg/feather/type.svg);
    -webkit-mask-image: url(../svg/feather/type.svg);
}

.icon-select {
    mask-image: url(../svg/feather/list.svg);
    -webkit-mask-image: url(../svg/feather/list.svg);
}

.icon-textarea {
    mask-image: url(../svg/feather/edit.svg);
    -webkit-mask-image: url(../svg/feather/edit.svg);
}

.icon-number {
    mask-image: url(../svg/feather/hash.svg);
    -webkit-mask-image: url(../svg/feather/hash.svg);
}

.icon-checkbox {
    mask-image: url(../svg/feather/check-square.svg);
    -webkit-mask-image: url(../svg/feather/check-square.svg);
}

.icon-email {
    mask-image: url(../svg/feather/at-sign.svg);
    -webkit-mask-image: url(../svg/feather/at-sign.svg);
}

.icon-url {
    mask-image: url(../svg/feather/link.svg);
    -webkit-mask-image: url(../svg/feather/link.svg);
}

.icon-date {
    mask-image: url(../svg/feather/calendar.svg);
    -webkit-mask-image: url(../svg/feather/calendar.svg);
}

.icon-time {
    mask-image: url(../svg/feather/clock.svg);
    -webkit-mask-image: url(../svg/feather/clock.svg);
}

.icon-file {
    mask-image: url(../svg/feather/image.svg);
    -webkit-mask-image: url(../svg/feather/image.svg);
}

.icon-tel {
    mask-image: url(../svg/feather/phone.svg);
    -webkit-mask-image: url(../svg/feather/phone.svg);
}

.icon-markdown {
    mask-image: url(../svg/feather/file-text.svg);
    -webkit-mask-image: url(../svg/feather/file-text.svg);
}

.icon-json {
    mask-image: url(../svg/feather/code.svg);
    -webkit-mask-image: url(../svg/feather/code.svg);
}

.icon-arrow-down {
    mask-image: url(../svg/feather/arrow-down.svg);
    -webkit-mask-image: url(../svg/feather/arrow-down.svg);
}

.icon-arrow-up {
    mask-image: url(../svg/feather/arrow-up.svg);
    -webkit-mask-image: url(../svg/feather/arrow-up.svg);
}

.icon-arrow-left {
    mask-image: url(../svg/feather/arrow-left.svg);
    -webkit-mask-image: url(../svg/feather/arrow-left.svg);
}

.icon-arrow-right {
    mask-image: url(../svg/feather/arrow-right.svg);
    -webkit-mask-image: url(../svg/feather/arrow-right.svg);
}

.icon-user-plus {
    mask-image: url(../svg/feather/user-plus.svg);
    -webkit-mask-image: url(../svg/feather/user-plus.svg);
}