aside {
    --cols-gap: var(--gap-sm);
    position: fixed;
    inset: 0;
    z-index: 100;
    overflow-y: auto;
    background: var(--active);
    min-inline-size: 35em;
    max-inline-size: 35em;
}

aside.open::after {
    display: block;
    z-index: 1;
    position: fixed;
    inset: 0;
    background: 0 0;
    /* content: ""; */
    cursor: default;
    pointer-events: auto;
    background-color: var(--back);
    opacity: 0.5;
}

aside header {
    position: relative;
    background: var(--surface-2);
}

aside article {
    padding: var(--gap-lg);
}

aside header #close {
    font-size: small;
    flex: none;
}

aside header #close:hover {
    color: var(--error);
}

aside.left {
    right: auto;
}

aside.right {
    left: auto;
}

aside.top {
    bottom: auto;
    max-inline-size: fit-content;
}

aside.bottom {
    top: auto;
}



@media screen and (max-width: 600px) {
    aside {
        min-inline-size: 100%;
        max-inline-size: 100%;
    }
}