body,
html {
    -webkit-text-size-adjust: 100%;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: grid;
    min-block-size: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    font-family: system-ui;
    color: var(--color);
    background-color: var(--back);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    min-width: 0;
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding);
    gap: var(--gap-sm);
    background-color: var(--active);
    /* position: sticky; */
    z-index: 1;
}

header {
    top: 0;
}

:is(header, footer)>* {
    margin: 0;
    flex: auto;
}

main {
    padding: var(--gap-lg) 0;
}

article {
    background-color: var(--active);
    padding: var(--padding);
    border-radius: var(--border-radius-lg);
}

nav {
    --cols-gap: var(--gap-sm) !important;
    padding: 0;
}

menu {
    --cols-gap: var(--gap-sm) !important;
    padding: 0;
}

figure {
    overflow-x: auto;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}