button,
[role="button"],
[type="file"]::file-selector-button,
summary {
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 0 var(--gap);
    margin: 0;
    border: 0.1rem solid transparent;
    background-color: var(--surface);
    border-radius: var(--border-radius-sm);
    font-size: inherit;
    font-weight: inherit;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    display: inline-flex;
    line-height: 2;
    min-inline-size: max-content;
    align-items: center;
    justify-content: center;
    gap: var(--gap-sm);
}

:is(button, [role=button]):is(.action, .box) {
    padding: 0 var(--gap-sm);
    aspect-ratio: 1/1;
}

:is(button, [role=button]).action {
    border-radius: 50%;
}

:is(button, [role=button]).block {
    display: flex;
}

:is(button, [role=button]).outline {
    border-color: var(--surface);
}

:is(button, [role=button]).dashed {
    border-style: dashed;
}

summary.block {
    justify-content: space-between;
}

:is(button, [role=button]).primary {
    background-color: var(--color);
    color: var(--back);
}

:is(button, [role=button]).success {
    background-color: var(--success);
}

:is(button, [role=button]).warning {
    background-color: var(--warning);
}

:is(button, [role=button]).error {
    background-color: var(--error);
}

:is(button, [role=button]).link {
    background-color: transparent;
}

:is(button, [role=button], [type="file"]::file-selector-button):hover {
    background-color: var(--hover);
}

:is(button, [role=button], [type="file"]::file-selector-button):is(:hover:active) {
    background-color: var(--active);
}

:is(button, [role=button], [type="file"]::file-selector-button):is(:disabled, .disabled, [aria-busy=true]) {
    background-color: var(--active);
    border-color: currentColor;
    color: var(--gray);
    cursor: auto;
}

[type="file"]::file-selector-button {
    margin-right: var(--gap);
    font-size: small;
}

[type="file"]::file-selector-button:hover {
    background-color: var(--hover);
}

[type="file"]::file-selector-button:hover:active {
    background-color: var(--active);
}