.text-success {
    color: var(--success);
}

.text-warning {
    color: var(--warning);
}

.text-error {
    color: var(--error);
}

.text-gray {
    color: var(--gray)
}

.text-color {
    color: var(--color)
}

.back-surface {
    background-color: var(--surface);
}

.back-hover {
    background-color: var(--hover);
}

.back-active {
    background-color: var(--active);
}