.text-success {
    color: var(--success);
}

.text-warning {
    color: var(--warning);
}

.text-error {
    color: var(--error) !important;
}

.text-gray {
    color: var(--gray)
}

.text-color {
    color: var(--color)
}

.text-current {
    color: currentColor;
}

.bg-back {
    background-color: var(--back);
}

.bg-surface {
    background-color: var(--surface);
}

.bg-hover {
    background-color: var(--hover);
}

.bg-active {
    background-color: var(--active);
}