dialog {
    inset: 0;
    border: 0;
    padding: 0;
    scale: 1;
    color: inherit;
    border-radius: var(--border-radius);
    background: var(--active);
    min-inline-size: 20em;
    animation-name: from-top;
    animation-duration: 450ms;
    will-change: transform;
    display: flex;
    overflow: hidden;
    box-shadow: none;
}

dialog.center {
    animation-name: from-center;
}

dialog.top {
    animation-name: from-top;
}

dialog.bottom {
    animation-name: from-bottom;
}

dialog.left {
    animation-name: from-left;
}

dialog.right {
    animation-name: from-right;
}

@keyframes from-center {
    from {
        transform: scale(0);
    }
}

@keyframes from-top {
    from {
        transform: translateY(-100%);
    }
}

@keyframes from-bottom {
    from {
        transform: translateY(100%);
    }
}

@keyframes from-left {
    from {
        transform: translateX(-100%);
    }
}

@keyframes from-right {
    from {
        transform: translateX(100%);
    }
}

/* State */
dialog[loading] {
    visibility: hidden;
}

dialog[open] {
    pointer-events: auto;
}

dialog[open]::backdrop {
    backdrop-filter: blur(0.25em);
    -webkit-backdrop-filter: blur(0.25em);
    background-color: var(--backdrop);
}

dialog::backdrop {
    transition: backdrop-filter 450ms;
}

/* Template */
dialog form {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    min-width: inherit;
}

dialog.img form header {
    height: 0;
    padding: 0;
}

dialog.img form article {
    padding: 0;
    border-radius: 0;
}

dialog.img form article #close {
    position: fixed;
    right: 0;
}

dialog.img form article img {
    border-radius: 0;
}

dialog.img form footer {
    padding: var(--padding-sm);
}

dialog form :is(header, footer) {
    background-color: var(--surface);
    padding: var(--padding);
}



/* dialog form :is(header, footer)>* {
    margin: 0;
} */

dialog form header {
    text-align: start;
    top: 0;
}

dialog form footer {
    text-align: end;
    bottom: 0;
    top: auto;
}

dialog form[method=dialog] footer nav.cols form {
    flex: auto;
}

dialog form footer menu {
    --cols-gap: var(--gap-sm);
}

dialog form header #close {
    font-size: small;
    flex: none;
}

dialog form header #close:hover {
    color: var(--error);
}

/* Size */
dialog.sm {
    max-inline-size: 25%;
}

dialog.md {
    max-inline-size: 50%;
    min-inline-size: 50%;
}

dialog.lg {
    max-inline-size: 75%;
}

dialog.fs {
    min-inline-size: 100%;
    min-block-size: 100%;
}

/* Global */
html:has(dialog[open]) {
    overflow: hidden;
}

@supports not selector(::backdrop) {

    body::before {
        box-sizing: border-box;
        content: "⚠️ Your browser doesn't support ::backdrop";
        display: block;
        max-width: 72rem;
        margin: auto;
        color: #f44336;
        font-weight: bold;
        padding: 2rem 2rem 0;
    }
}