table {
    white-space: nowrap;
    min-inline-size: 100%;
    line-height: 2.5;
    border-collapse: collapse;
}

table th {
    color: var(--gray);
    text-align: inherit;
    font-weight: inherit;
    font-size: medium;
}

table :is(th, td) {
    padding: 0 var(--gap-sm);
}

table tr:hover {
    cursor: pointer;
    background-color: var(--hover);
}